<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/public/css/main.min.css">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta property="fb:admins" content="219000720" />
</head>
