<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="theme-base-0d">

    {% include sidebar.html %}

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        <div class="welcome">
          <p>Hey there. I’m Josh, Sydney-based maker of Internets. This isn’t well maintained but I occasionally dump things here to find later. </p>
          <p style="text-align:right"><br> — <a href="//twitter.com/joahua/">@joahua</a></p>
        </div>
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  {% include footer.html %}
  </body>
</html>
